# dotfiles alias
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"

# custom aliases
alias ls='/bin/ls -GFabT';
alias ll='ls -lahG'
alias rmdsstore='find . -name ".DS_Store" -depth -exec rm {} \;'
alias ip='ipconfig getifaddr en0'
alias flushdns='sudo killall -HUP mDNSResponder'
alias pnpmr='pnpm recursive'
alias dockerkill='docker kill $(docker container ls --latest --quiet)'

# custom git aliases
alias gpfnv='gpf --no-verify'
